/* button styling */

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://i.pinimg.com/originals/a1/69/ce/a169ce996385068321fffbf96e2cfd40.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
a,h1{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(206, 10, 131);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    overflow:hidden;
    transition: 0.2s;
    margin: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
a:hover{
    color: rgb(252, 246, 249);
    background: rgb(241, 9, 153);
    box-shadow: 0 0 10px rgb(241, 9, 153), 0 0 40px rgb(241, 9, 153), 0 0 80px rgb(241, 9, 153);
    transition-delay: 1s;
    transform: scale(0.95);
} 
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, rgb(241, 9, 153));

}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, rgb(241, 9, 153));

}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, rgb(241, 9, 153));

}
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, rgb(241, 9, 153));

}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
 /* counter styling */

.wrap{
    display: inline-block;
    min-width: 260px;
    min-height: 300px;
    padding: 50px 15px;
    background-color:rgba(250, 194, 242, 0.5) ;
    box-shadow: 0 5px 25px #f034a185;
    border-radius: 8px;
    text-align: center;
}
#timer{
    width:250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    border: 5px solid  rgb(241, 9, 153);
    font-size: 32px;
    margin: 0 auto;
    background-color: #fff;
}
p{
    font-weight: 400;
    color: grey;
    padding :30px 0;

}